<div id="viewAndEdit">
	<h1>View and Edit Existing Schedules</h1>
	<button mat-raised-button (click)="displaySchedules()">
		List all Schedules
  </button>
  <button mat-raised-button (click)="deleteAllSchedules()">
    Delete all Schedules
  </button>
  <br>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Schedule to Delete</mat-label>
      <input matInput [(ngModel)] = "deleteScheduleName">
    </mat-form-field>
    <button mat-raised-button (click)="deleteSchedule()">Delete Schedule</button>
  </div>
  <br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let x of schedules| keyvalue" class="accordion">
      <mat-expansion-panel-header class="expansionHeader">
        <div class="header"> 
          <p>Timetable Name: {{ x.key }}</p>
          <p>Email: {{ x.value.email }}</p>
          <p>Description: {{ x.value.description }}</p>
        </div>
      </mat-expansion-panel-header>
      <p>Accessiblity: {{ x.value.accessiblity }}</p>
      <p>Last Edit: {{ x.value.lastEdit }}</p>
      <div *ngFor="let y of x.value.courses| keyvalue">
        <div *ngFor="let z of y.value| keyvalue; let i = index">
          <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header class="expansionHeader">
              <div class="header"> 
                <h4>Course {{i+1}}</h4>
              </div>
            </mat-expansion-panel-header>
            <p>Course Name: {{ z.value }}</p>
            <p>Course Code: {{ z.key }}</p>
            </mat-expansion-panel>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
