<div id="viewAndEdit">
	<h1>View and Edit Existing Schedules</h1>
	<button mat-raised-button (click)="displaySchedules()">
		List all Schedules
  </button>
  <button mat-raised-button (click)="deleteAllSchedules()">
    Delete all Schedules
  </button>
  <br>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Schedule to Delete</mat-label>
      <input matInput [(ngModel)] = "deleteScheduleName">
    </mat-form-field>
    <button mat-raised-button (click)="deleteSchedule()">Delete Schedule</button>
  </div>
  <br>
	<ul id="viewSchedules">
		<li *ngFor="let x of schedules">Subject: {{ x.scheduleName }}</li>
	</ul>
</div>
