<head>
  <meta
    name="description"
    content="A timetable to search course names and their codes"
  />
  <meta name="author" content="Mitchell Zehr" />
  <title>Timetable - mzehr4</title>
</head>
<body>
  <h1>{{title}}</h1>
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.name}}
    </li>
</ul>
  <nav>
    <a routerLink="/main">Main</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/courses">Courses</a>
    <a routerLink="/schedules">Schedules</a>
    <a routerLink="/admin">Admin Dashboard</a>
  </nav>
  <router-outlet></router-outlet>
</body>


