li {
    font-family: Arial;
    list-style-type: none;
}

button {
    margin-left: 10px;
}

nav a {
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);
    border-radius: 7px;
}
nav a:hover {
    color: #0061bd;
    background-color: #d1d1d1;
}



