<head>
  <meta
    name="description"
    content="A timetable to search course names and their codes"
  />
  <meta name="author" content="Mitchell Zehr" />
  <title>Timetable - mzehr4</title>
</head>
<body>
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/main">Main</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/courses">Courses</a>
    <a routerLink="/courseList">Course List</a>
    <a routerLink="/schedules">Schedules</a>
    <a routerLink="/admin">Admin Dashboard</a>
    <a id="privacy" routerLink="/privacy">Privacy</a>
  </nav>
  <router-outlet></router-outlet>
</body>


