<div id="courseList">
    <h2>Public Course Lists</h2>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let x of schedules | keyvalue" class="accordion">
          <mat-expansion-panel-header class="expansionHeader">
            <div class="header"> 
              <p>Timetable Name: {{ x.key }}</p>
              <p>Description: {{ x.value.description }}</p>
            </div>
          </mat-expansion-panel-header>
          <p>Last Edit: {{ x.value.lastEdit }}</p>
          <p>Courses: {{ x.value.courses }}</p>
        </mat-expansion-panel>
      </mat-accordion>
</div>