#timetablePlanner { 
    margin-top: 20px;   
    box-shadow: 0 0 0 2px black inset;
    overflow:auto;
    width: 100%; 
    float: left; 
    background-color: rgb(167, 237, 255);
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
button {
    margin-left: 10px;
}
.header {
    display: block;
}
.expansionHeader{
    height: auto;
}
.accordion{
    margin: 5px;
    background-color: transparent;
}