<div id="timetablePlanner">
    <h1>Search Timetables</h1>
    <p>
      <mat-form-field appearance="standard">
      <mat-label>Subject</mat-label>
      <input matInput id="timetableSubject" #subject placeholder="eg. ACTURSCI">
      </mat-form-field>

      <mat-form-field appearance="standard">
      <mat-label>Course Code</mat-label>
      <input matInput id="timetableCourseCode" #course placeholder="eg. 1021B">
      </mat-form-field>

      <button mat-raised-button (click)="displaySubjects(subject.value, course.value)">Search</button>
    </p>
    <ul id="timetableSearch">
        <li *ngFor="let x of courses">
          <span> Subject: {{x.subject}}</span><br>
          <span> Class Number: {{x.catalog_nbr}}</span><br>
          <span> Class Section: {{x.course_info[0].class_section}}</span><br>
          <span> SSR Component: {{x.course_info[0].ssr_component}}</span><br>
          <span> Description: {{x.catalog_description}}</span><br>
          <span> Campus: {{x.course_info[0].campus}}</span><br>
          <span> Start Time: {{x.course_info[0].start_time}}</span><br>
          <span> End Time: {{x.course_info[0].end_time}}</span><br>
          </li>
    </ul>
</div>