<div id="privacy">
	<h1>Privacy and Security</h1>
	<br />
	<mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>Security and Privacy Policy</h2>
				</div>
			</mat-expansion-panel-header>
			<h2>What information is collected?</h2>
			<p>
				All data that you (the user) inputs is collected, including: Name, Email
				and Password.
			</p>
			<br />
			<h2>A justification for the collection</h2>
			<p>
				Data is collected and stored to authenticate the user and allow them to
				use the application to create schedules.
			</p>
			<br />
			<h2>
				Who has access to that information (e.g. subsidiaries or 2rd parties)
			</h2>
			<p>
				Anyone with access the database is able to view the data. This includes
				myself, the professor, all TA’s and Google because it is stored on their
				database.
			</p>
			<br />
			<h2>What happens in the event of a takeover or dissolution</h2>
			<p>
				In the event that Timetable Planner is taken over or dissolved all data
				will be deleted. Users will be updated if this policy changes.
			</p>
		</mat-expansion-panel>
	</mat-accordion>
	<br />
	<mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>Acceptable Use Policy</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Users must not use this service to break any laws. Hate speach and targeting of other users will lead to removal of the user and all of their data.</p>
		</mat-expansion-panel>
	</mat-accordion>
	<br />
	<mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>DMCA Notice & Takedown Policy</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Please contact me at mzehr4@uwo.ca to inquire about takedowns and infringement</p>
		</mat-expansion-panel>
	</mat-accordion>
	<br />
	<mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>DMCA Takedown Procedure</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Send me an email and I will review the case and fix it following all legal guidelines</p>
		</mat-expansion-panel>
	</mat-accordion>
</div>
