<div id="privacy">
	<h1>Privacy and Security</h1>
    <br>
	<mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>Security and Privacy Policy</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Some info</p>
		</mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>Acceptable Use Policy</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Some info</p>
		</mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>DMCA Notice & Takedown Policy</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Some info</p>
		</mat-expansion-panel>
    </mat-accordion>
    <br>
    <mat-accordion>
		<mat-expansion-panel class="accordion">
			<mat-expansion-panel-header class="expansionHeader">
				<div class="header">
					<h2>DMCA Takedown Procedure</h2>
				</div>
			</mat-expansion-panel-header>
			<p>Some info</p>
		</mat-expansion-panel>
	</mat-accordion>

</div>
