<div id="register">
    <h1>Register New User</h1>
    <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)] = "name" id="timetableCourseCode">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Email Address</mat-label>
        <input matInput [(ngModel)] = "email" id="timetableCourseCode">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)] = "password" id="timetableCourseCode" type="password">
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Re-Enter Password</mat-label>
        <input matInput [(ngModel)] = "passwordTwo" id="timetableCourseCode" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="register()">Register User</button>
</div>

