#register{
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    box-shadow: 0 0 0 2px black inset;
    overflow:auto;
    width: 50%; 
    float: left; 
    background-color: rgb(167, 237, 255);
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}